@model aspnet_mvc_crud.Models.FuncionarioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FuncionarioModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FK_Estado)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FuncionarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
